<section id="calendar">
  <div class='header'>
    <%= link_to "<", url_for(:date => @calendar.prev_month) %>
    <%= Date::MONTHNAMES[@calendar.date.month] %>
    <%= link_to ">", url_for(:date => @calendar.next_month) %>
  </div>
  <% Date::DAYNAMES.compact.each do |dayname| %>
    <div class='cell dayname'><%= dayname %></div>
  <% end %>
  <% @calendar.each do |k, v| %>
    <div data-commitment=<%= @commitment.id if @commitment %> data-date=<%= v[:date] %> class="cell <%= v[:classes].join(' ') %>">
            
      <%= v[:day_of_month] %>
      <% if v[:objects].any? %>
        <ul>
          <% v[:objects].each do |task| %>
            <li><%= link_to task.commitment.name, task %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</section>
